mark {
    padding: 0;
    background-color: #d9edf7;
    color: #030;
    padding: 2px;
    margin: -2px;
}
table tr td {
  overflow-wrap: break-word !important;
}

table tr.optrow:hover {
  background-color: #e9e9e9 !important;
}

table tr.optrow {
  cursor: pointer;
}


