mark {
    padding: 0;
    background-color: #d9edf7;
    color: #030;
    padding: 2px;
    margin: -2px;
}
table tr td {
  overflow-wrap: break-word !important;
}

table tr.optrow:hover {
  background-color: #e9e9e9 !important;
}

table tr.optrow {
  cursor: pointer;
}

#lastUpdateElement{
  font-size: 10px;
}


@media only screen and (max-width: 1026px) {
  body {
    font-size: 130%;
  }
  .form-control {
    font-size: 120%;
  }
  #lastUpdateElement{
    font-size: 12px;
  }
  .phonehide {
    display: none;
  }
}
